################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImageCompressorConsole/ImageCompressorConsole.csproj.user
/ImageCompressorConsole/bin
/ImageCompressorConsole/obj
/.vs
